body {
  min-width: 320px;
  box-sizing: border-box;
  outline: 1px dashed;
  width: 320px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  color: #000000;
  margin: 0 auto;
  background-color: #ffffff;
  font-style: normal;

}